section.gc-nav h1 {
	font-size: 1.3em;
	color: #555;
	border-bottom: none;
}

/*page structure desktop (new) */
@media all and (min-width:992px) {
section.gc-nav nav {
	position: relative;
	width: 33.33%;
	left: 66.66%;
	float: left;
	padding-left: 15px;
	margin-bottom: 30px;
}
section.gc-nav h1 {
	width: 66.66%;
	padding-right: 15px;
	margin-top: 20px;
	margin-bottom: -5px;
	font-weight: 200;
}
section.gc-nav-section {
	position: relative;
	width: 66.66%;
	float: left;
	padding-right: 15px;
}
section.gc-nav ~ section.gc-nav-section {
	right: 33.33%;
}
section.gc-nav ~ section.gc-nav-section h1 {
	margin-top: 0px
}
section.gc-nav-section + .pagedetails {
	clear: both;
}
}

/*Vertical steps in mobile */
@media screen and (max-width:991px) {
section.gc-nav {
	margin-top: 30px;
	border-right: 5px solid #26374a;
	border-top: 5px solid #26374a;
	border-radius: 0 6px 6px 0;
}
section.gc-nav nav>.gc-navseq {
	padding-top: 15px;
	margin-top: -18px;
	clear: both;
}
section.gc-nav nav>.gc-navseq > li:last-child {
	border-bottom: 5px solid #26374a;
	border-left: 5px solid #26374a;
	border-bottom-left-radius: 6px;
	padding-bottom: 24px;
}
section.gc-nav h1 {
	margin-bottom: -18px;
	margin-right: 20px;
	background-color: white;
	padding: 20px 10px 10px 20px;
	display: inline-block;
	margin-left: -20px;
	margin-top: -40px;
	float: left;
}
}
