// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// theme-gcwu-fegc specifics.
.theme-gcwu-fegc {
  #wb-sttl {
    font-size: 1em;
    height: 6.85em;
    display: table-cell;
    vertical-align: middle;
  }

  #wb-sttl a {
    font-size: 1.9em;
    text-shadow: 1px 1px 1px #333;
  }

  #site-slogan {
    font-size: 0.95em;
    vertical-align: top;
    color: #fff !important;
    text-shadow: 1px 1px 1px #333;
  }

  @media screen and (max-width: 991px) {
    #wb-sttl a {
      font-size: 1.9em;
      height: 2.4em;
      line-height: normal;
      text-shadow: 1px 1px 1px #333;
      vertical-align: bottom;
    }
  }

  @media screen and (min-width: 992px) {
    #wb-sttl a {
      height: 2.4em;
      vertical-align: bottom;
      line-height: normal;
    }
  }
}
