// Default variables.
@import "default-variables";

// Bootstrap Framework minimum dependencies to build overrides file.
@import '../libraries/bootstrap/assets/stylesheets/bootstrap/variables';
@import '../libraries/bootstrap/assets/stylesheets/bootstrap/mixins';
@import '../libraries/bootstrap/assets/stylesheets/bootstrap/utilities';

// Bootstrap core framework which is already provided by WxT.
//@import '../libraries/bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';

// Modules overrides.
@import 'modules';
