{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}

{% if attributes.class is empty %}
  {{ content }}
{% else %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endif %}
