{#
/**
 * @file
 * Default theme implementation of a summary facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 *
 * @ingroup themeable
 */
#}
<div class="visually-hidden">{{ 'Remove filter for'|t }} </div>
{{ value }}
<span class="glyphicon glyphicon-remove"></span>
