{#
/**
 * @file
 * Default theme implementation of a facet result item.
 *
 * Available variables:
 * - value: The item value.
 * - show_count: If this facet provides count.
 * - count: The amount of results.
 *
 * @ingroup themeable
 */
#}

<span class="facet-value">
  {{ value }}
</span>

{% if show_count %}
  <span class="badge-wrapper">
    <span class="facet-count badge">{{ count }} <span class="wb-inv">
      {% if count == 1 %}
        {% trans %}result available{% endtrans %}
      {% else %}
        {% trans %}results available{% endtrans %}
      {% endif %}
    </span></span>
  </span>
{% endif %}
