{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
  <div class="brand col-xs-8 col-sm-9 col-md-6">
    <a href="">
      <object id="header-logo" data='{{ logo_svg }}' role="img" tabindex="-1" type="image/svg+xml">
        <img alt="{{ 'Government of Canada'|t }}" src="{{ logo }}"  />
      </object>
    </a>
  </div>
{% endblock %}
