{#
/**
 * @file
 * Theme implementation for an 'inline webform' element.
 *
 * Available variables
 * - content: Rendered block to display
 *
 * @ingroup themeable
 */
#}
<details class="brdr-0">
  <summary class="btn btn-default text-center"> {{ "Report a problem or mistake on this page"|t }}</summary>
  <div class="well row">
    <div class="gc-rprt-prblm">
      {{ content }}
    </div>
   </div>
</details>
