{#
/**
 * @file
 * Theme implementation for an 'inline webform' element.
 *
 * Available variables
 * - content: Rendered block to display
 *
 * @ingroup themeable
 */
#}
<div class="well mrgn-bttm-0">
  {{ content }}
</div>
