// Theme Customizations to Views

.filters-wrapper-toggle {
    margin: 15px 0;
}

.filters-wrapper {
  display: block;
}

.filters-wrapper.collapse {
  display: none;
}

.filters-wrapper.collapse.in {
  display: block;
}

.mini-pager {
  [rel=next]:after,
  [rel=prev]:before {
    content: none !important;
  }
  .previous,
  .next {
    a {
      padding: 2px 6px;
    }
  }
  li {
    a {
      margin-bottom: 0px;
    }
  }
  margin-top: 0px;
  margin-bottom: 0px;

}
